p, label, button, input{
    font-family: 'Nunito', sans-serif;
}

h1 { 
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
    
}

h2 { 
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

h3 { 
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h4 { 
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

body{
    background-color: beige;
}

button {
    background-color: green;
}
button:hover {
    background-color: gold;
}